@import url(https://fonts.googleapis.com/css?family=Major+Mono+Display);

html {
  font-size: 18px;
  font-family: 'Comic Sans MS', cursive;
  width: 320px;
  margin: 0 auto 0 auto;
  background-image: url(/images/textures/light8a.png);
  background-color: steelBlue;
}

h1,h2 {
  color: maroon;
  font-family: 'Major Mono Display', monospace;
  text-align: center;
  border: 12px ridge gray;
}

footer {
  border: 12px ridge gray;
  text-align: center;
  font-family: 'Major Mono Display', monospace;
}

a:hover {
  color: gray;
}

h1 {
  text-shadow: 0px 1px 0px gold,
               0px 2px 0px red;
}

img {
  border: 12px groove darkKhaki;
}

ul {
  list-style-image: url(/images/icons/icon1.png);
}
